.inline {
	float: left;
}

#buttons {
	margin-left: 15px;
}

button {
	margin: 5px;
	width: 200px;    
	background-color: #000; /* Green */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 4px;
}

#download {
	width: 600px;
}

p {
	width: 150px;
	font-size: 18px;
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 3px;
	text-align: center;
}

body {
  background-color: #EAEAEA;
}
#canvas svg {
  background-color: white;
  box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.06),inset -1px -1px 1px 0 rgba(0, 0, 0, 0.02);
  border: 1px solid #E2E2E2;
  border-bottom-color: #CECECE;
}

#temp1 {
	background-color: blue;
}